/* My custom Styles */
/* .navBackground { */
    /* background-color: lightblue; */
/* } */




header {
    color:aqua
}

#navtext {
    color: beige;
}

a {
    color: beige;
}

li {
    color: beige
}

/* view word wrap to see text and paragraphs*/

/* body { */
    /* background-image: url('../assets/img/background\ test.jpeg'); */
/* } */

